@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

/* Poppins ExtraLight */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

/* Poppins Thin */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ThinItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

/* Poppins Light */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* Poppins SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

/* Poppins Bold */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Poppins Black */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@import "tailwindcss";

@theme {
  --font-roboto: Roboto, sans-serif;
  --font-poppins: Poppins, sans-serif;
}